<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>addCourse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="addForm" (ngSubmit)="submitHandler()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Informations du cours</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Titre du cours*</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
        <ion-label>Auteur du cours*</ion-label>
        <ion-input type="text" formControlName="author"></ion-input>
        <ion-label>Logo du cours</ion-label>
        <ion-input type="url" formControlName="logo"></ion-input>
        <div class="image-preview">
          <img [src]="Logo" />
        </div>

        <ion-button type="submit">Ajouter</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mots-clés</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Ajouter un mot-clé</ion-label>
        <ion-input
          (keyup.space)="addKeyword()"
          [ngModelOptions]="{standalone : true}"
          [(ngModel)]="inputKeywords"
          type="text"
          placeholder="Ex : Component"
        ></ion-input>
        <div class="keywords-container">
          @for (keyword of Keywords; track $index) {
          <ion-chip (click)="deleteKeyword(keyword)" color="primary">
            {{keyword }}
          </ion-chip>

          }
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Photos additionnelles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Aucune photo ajoutée</ion-label>
        <ion-button
          (click)="presentActionSheet()"
          color="primary"
          fill="outline"
          expand="block"
          >Ajouter une photo</ion-button
        >
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
