<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Our Catalog </ion-title>
    <ion-buttons slot="end">
      <ion-icon
        slot="icon-only"
        name="add-outline"
        routerLink="/add"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <strong>We propose these new courses</strong>

  <ion-list>
    @for (course of tabCourses; track $index) {
    <ion-item [routerLink]="['/details', course.id]">
      <ion-avatar>
        <img [src]="course.logo" />
      </ion-avatar>
      <ion-label class="ion-margin-horizontal">{{ course.title }} </ion-label>
    </ion-item>

    }
  </ion-list>
</ion-content>
